{% extends 'layout.html' %}

{% block content %}

    <div class="luffy-container">
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {% for field in forms %}
                <div class="form-group">
                    <label for="{{ field.auto_id }}">{{ field.label }}</label>
                    {{ field }}
                    <span style="color:red;">{{ field.errors.0 }}</span>
                </div>
            {% endfor %}
            <input type="submit" value="提交" class="btn btn-primary">

        </form>
    </div>

{% endblock content %}