{% extends 'layout.html' %}

{% block content %}
    <div class="luffy-container">
        添加角色
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.auto_id }}">{{ field.label }}</label>
                    {{ field }}
                    <span style="color:red">{{ field.errors.0 }}</span>
                </div>
            {% endfor %}

            <input type="submit" value="保存" class="btn btn-primary">

        </form>
    </div>
{% endblock content %}